.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  color: var(--text);
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;

  &:hover {
    background-color: var(--primary-hover);
    color: white;
  }

  &.neutral:hover {
    background-color: var(--neutral-hover);
  }

  &.danger:hover {
    background-color: var(--danger-hover);
  }
}