.tasks {
  list-style: none;
  padding: 0;
  text-align: left;
}

.task {
  display: flex;
  padding: 16px;
  margin-bottom: 8px;
  background-color: var(--card);
  border: 1px solid var(--border);
  border-radius: 8px;

  &:hover {
    background-color: var(--border);
  }

  &__label {
    align-content: center;
    flex-grow: 1;
    padding-right: 8px;
    cursor: pointer;
  }

  &__form {
    display: flex;
    flex-grow: 1;
    min-width: 0;
    padding-right: 8px;
  }

  &__input {
    flex-grow: 1;
    min-width: 0;
    padding: 0 8px;
    font-size: 16px;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
  }

  &__checkbox {
    margin-right: 8px;
  }

  &__btns {
    display: flex;
  }

  &__btn {
    padding: 0;
    margin: 4px;

    &-icon {
      pointer-events: none;
    }
  }
}