:root {
  --bg: #f9f9fb;
  --text: #1e1e1e;
  --text-secondary: #6b7280;
  --card: #ffffff;
  --border: #e5e7eb;
  --border-raidus: 8px;
  --primary: #3b82f6;
  --primary-hover: #2563eb;
  --success: #10b981;
  --danger: #ef4444;
  --danger-hover: #dc2626;
}

#root {
  max-width: 500px;
  margin: 0 auto;
  padding: 24px;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.6;
  font-size: 16px;
}

.add-task__form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.add-task__input {
  width: 100%;
  font-size: 16px;
  padding: 16px 48px 16px 16px;
  border: 1px solid var(--border);
  border-radius: var(--border-raidus);
}

.add-task__btn {
  position: absolute;
  right: 8px;
  height: 100%;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  border-radius: var(--border-raidus);
  border: none;
  background-color: var(--primary);
  color: white;
  cursor: pointer;
  border-radius: 50%;
}

.add-task__btn:hover {
  background-color: var(--primary-hover);
}

.tasks {
  list-style: none;
  padding: 0;
  text-align: left;
}

.task {
  display: flex;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--card);
}

.task__checkbox {
  margin-right: 8px;
  padding: 8px;
  background-color: var(--card);
}

.task:hover {
  background-color: var(--border);
}

.task__label {
  align-content: center;
  flex-grow: 1;
  cursor: pointer;
}

.task__btn {
  padding: 4px;
  border-radius: var(--border-raidus);
  border: none;
  cursor: pointer;
  color: white;
  background-color: transparent;
}

.task__btn-icon {
  padding: 8px;
  border-radius: var(--border-raidus);
}

.task__btn.edit .task__btn-icon {
  background-color: var(--primary);
}

.task__btn.edit:hover .task__btn-icon {
  background-color: var(--primary-hover);
}

.task__btn.delete .task__btn-icon {
  background-color: var(--danger);
}

.task__btn.delete:hover .task__btn-icon {
  background-color: var(--danger-hover);
}